<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Users List</a>
  </nav>
</header>
<main>
  <div class="container">
    <h1>Users</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Role</th>
        <th>Email</th>
        <th>Status</th>
        <th>Login</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.getName}"></td>
        <td th:text="${user.getSurname}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.account_status}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td>
          <div class="action-buttons">
            <a class="btn btn-primary" th:href="@{/admin/{id}/edit(id=${user.id})}" style="background-color: #545454; color: #fff;">Change role</a>
            <a class="btn btn-danger" th:href="@{/admin/{id}/delete(id=${user.id})}" style="background-color: #dc3545; color: #fff;">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<footer>
  <div class="container">
    <div style="text-align: center;">
      <a class="btn btn-primary" href="/user-page" style="background-color: #545454; color: #fff;">Back</a>
    </div>
    <br>
    <br>
    <p>© 2023 Zero Waste.</p>
  </div>
</footer>
</body>
</html>
