<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package Edition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Zero Waste</a>
    </nav>
</header>
<main>
    <div class="container">
        <h1>Package Edition</h1>

        <form action="#" method="post"  th:object="${package}">
            <input type="hidden" th:field="${package.id}" />

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                <p class="alert alert-dark error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{getName()}"></p>
            </div>

            <div class="form-group">
                <label for="expiry_date">Expiry Date:</label>
                <textarea class="form-control content-field" id="expiry_date" th:field="*{expiry_date}" required></textarea>
                <p class="alert alert-dark error-message" th:if="${#fields.hasErrors('expiry_date')}" th:errors="*{getExpiry_date()}"></p>
            </div>
            <div class="form-group">
                <label for="product">Status:</label>
                <select class="form-control" id="product" th:field="*{}" required>
                    <option th:each="product : ${products}"
                            th:text="${product.name}"
                            th:value="${product.id}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="products">Products:</label>
                <select class="form-control" id="products" name="selectedProducts" th:field="*{}" required multiple>
                    <option th:each="product : ${products}"
                            th:text="${product.name}"
                            th:value="${product.id}">
                    </option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="background-color: #545454;">Save</button>
            <a class="btn btn-primary" href="/packages" style="background-color: #545454; color: #fff;">Back</a>
        </form>
    </div>
</main>
<footer>
    <div class="container">
        <p>© 2023 Zero Waste.</p>
    </div>
</footer>
</body>
</html>