<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zero Waste</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zero Waste</a>
  </nav>
</header>
<section>
  <header>
    <center>
    <h1>Welcome</h1>
    <div class="navigation">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="/register">Register</a>
      <a href="/login">Log in</a>
      <a href="#">Contact Us</a>
    </div>
    </center>
  </header>
</section>
</body>
</html>