<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security%22%3E" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zero Waste</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    /* Add this style to remove bullets from the list items */
    ul {
      list-style-type: none;
      padding: 0;
    }
  </style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zero Waste</a>
    <a class="btn btn-primary" href="/admin" style="background-color: #545454; color: #fff;" sec:authorize="hasRole('ROLE_ADMIN')">Administrator Panel</a>
    <a class="btn btn-primary" href="/logout" style="background-color: #545454; color: #fff;">Log out</a>
  </nav>
</header>
<main>
  <h1><div style="text-align: center;">Main page</div></h1>
  <div th:if="${notifications}">
    <center><ul>
      <li th:each="notification : ${notifications}">
        <br>
        <b><p th:text="${notification.getTitle()}"></p></b>
        <p th:text="${notification.getContent()}"></p>
      </li>
    </ul></center>
  </div>
</main>
<footer>
  <div class="container">
    <div class="text-center mt-4">
      <a class="btn btn-primary" href="/orders/all" style="background-color: #545454; color: #fff;" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">Orders</a>
      <a class="btn btn-primary" href="/packages/all" style="background-color: #545454; color: #fff;" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SELLER','ROLE_USER')">Packages</a>
      <a class="btn btn-primary" href="/products/all" style="background-color: #545454; color: #fff;" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SELLER','ROLE_USER')">Products</a>
      <a class="btn btn-primary" href="/orders" style="background-color: #545454; color: #fff;" sec:authorize="hasAnyRole('ROLE_USER')">My Reviews</a>
    </div>
    <br>
    <p>© 2023 Zero Waste.</p>
  </div>
</footer>
</body>
</html>