<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security%22%3E" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zero Waste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Zero Waste</a>
        <a class="btn btn-primary" href="/admin" style="background-color: #545454; color: #fff;" sec:authorize="hasRole('ROLE_ADMIN')">Administrator Panel</a>
        <a class="btn btn-primary" href="/logout" style="background-color: #545454; color: #fff;">Log out</a>
    </nav>
</header>
<main>
    <div class="container">
        <br>
        <div style="text-align: center;"><h1>Packages</h1></div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Expiry Date</th>
                <th>Product</th>
                <th>Restaurant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="package : ${packages}">
                <td th:text="${package.name}"></td>
                <td th:text="${#dates.format(package.expiry_date, 'yyyy-MM-dd')}"></td>
                <td th:text="${package.product.name}"></td>
                <td th:text="${package.getSeller().name}"></td>
                <td>
                    <div class="action-buttons">
                        <a class="btn btn-primary" th:href="@{/packages/{id}/edit(id=${package.id})}" style="background-color: #545454; color: #fff;" sec:authorize="hasAnyRole('ROLE_SELLER')" >Edit</a>
                        <a class="btn btn-danger" th:href="@{/packages/{id}/delete(id=${package.id})}" style="background-color: #dc3545; color: #fff;" sec:authorize="hasAnyRole('ROLE_SELLER')" >Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="container">
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="/packages/add" style="background-color: #545454; color: #fff;" sec:authorize="hasAnyRole('ROLE_SELLER')">Add new package </a>
            <a class="btn btn-primary" href="/mainpage" style="background-color: #545454; color: #fff;">Back</a>
        </div>
        <br>
        <p>© 2023 Zero Waste.</p>
    </div>
</footer>
</body>
</html>