<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security%22%3E" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zero Waste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Zero Waste</a>
        <a class="btn btn-primary" href="/admin" style="background-color: #545454; color: #fff;" sec:authorize="hasRole('ROLE_ADMIN')">Administrator Panel</a>
    </nav>
</header>
<main>
    <div class="container">
        <br>
        <div style="text-align: center;"><h1>Product Reviews</h1></div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productReview : ${product_reviews}">
                <td th:text="${productReview.getProduct().name}"></td>
                <td th:text="${productReview.getRating()}"></td>
                <td th:text="${productReview.getComment()}"></td>
                <td>
                    <div class="action-buttons">
                        <a class="btn btn-primary" th:href="@{/product-review/{id}/edit(id=${productReview.id})}" style="background-color: #545454; color: #fff;">Edit</a>
                        <a class="btn btn-danger" th:href="@{/product-review/{id}/delete(id=${productReview.id})}" style="background-color: #dc3545; color: #fff;">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="container">
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="/orders" style="background-color: #545454; color: #fff;">Back</a>
        </div>
        <br>
        <p>© 2023 Zero Waste.</p>
    </div>
</footer>
</body>
</html>
