<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zero Waste.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zero Waste</a>
  </nav>
</header>
<main>
  <div class="container">
    <h1>Submit a ticket.</h1>
    <form action="#" method="post" th:object="${ticket}">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="name" minlength="0" maxlength="200" th:field="*{title}" required>
        <p class="alert alert-dark error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{getTitle()}"></p>
      </div>
      <div class="form-group">
        <label for="about">Type:</label>
        <textarea class="form-control" id="about" name="type" minlength="0" maxlength="100" th:field="*{type}" required></textarea>
        <p class="alert alert-dark error-message" th:if="${#fields.hasErrors('type')}" th:errors="*{getType()}"></p>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" id="comment" name="type" minlength="0" maxlength="100" th:field="*{comment}" required></textarea>
        <p class="alert alert-dark error-message" th:if="${#fields.hasErrors('comment')}" th:errors="*{getComment()()}"></p>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" style="background-color: #545454;">Submit</button>
      <a class="btn btn-primary" href="/orders/all" style="background-color: #545454; color: #fff;">Back</a>
    </form>
  </div>
</main>
<footer>
  <div class="container">
    <br>
    <p>© 2023 Zero Waste.</p>
  </div>
</footer>
</body>
</html>
